table.doubleborder, td {
    border: 1px solid black;
}

p.heading1 {
	text-align: center;
}

div {
	float: left;
}

span {
	line-height:20%;
}

body {
	font-family: Verdana;
	font-size: 12px;
}

td.heading {
	background-color: #4CAF50;
	color: white;
	text-align: center;
}

td {
	padding:2px;
}

p {
    text-align:left;
}

caption {
	text-align: center;	
}